/* =============================================================================================
* General Purpose CSS
============================================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "st";
  src: url("../static/Fonts/st.woff2") format("woff2");
  font-display: block;
}
@font-face {
  font-family: "stx";
  src: url("../static/Fonts/stx.woff2") format("woff2");
  font-display: block;
}
:root {
  --main-bg-color-dark: #000000;
  --main-bg-color-light: #2c0212;
  --text-color-dark: #c8c2d1;
  --text-color-light: #801515;
  --hover-color-dark: rgb(114, 20, 20);
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(253, 253, 253, 1);
  --c2: rgb(80, 12, 65);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  /* overflow-x: hidden; */
  background: var(--main-bg-color-light);
  color: var(--text-color-light);
}
body.dark {
  background: var(--main-bg-color-dark);
  color: var(--text-color-dark);
}
body.dark a {
  color: var(--text-color-dark);
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
/* =============================================================================================
* Loading page
============================================================================================= */
#loader-page {
  width: 100vw;
  height: 100vh;
  background: var(--main-bg-color-light);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  overflow: hidden;
  text-align: center;
  position: absolute;
  font-family: "Roboto Mono", monospace;
}
#app > #loader-page > .word {
  bottom: 0;
  color: #000;
  font-size: 18px;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  margin: auto;
  right: 0;
  position: absolute;
  text-shadow: 0 0 10px #ffffff66, 0 0 5px #ffffff66;
  top: 0;
}

#app > #loader-page > .word span {
  display: inline-block;
  transform: translateX(100%) scale(0.9);
  transition: transform 500ms;
}

#app > #loader-page > .word > .done {
  color: #000;
  transform: translateX(0) scale(1);
}

.temp {
  width: 10px;
  height: 10px;
}
.loading-container {
  width: 300px;
  height: 4px;
  border-radius: 10px;
  margin-top: 50px;
  font-size: 16px;
  border: 1px solid #535353;
  transition: all 0.3s ease-in-out;
  transform: translateX(-10px);
}
.loading-progress {
  width: 0px;
  height: 4px;
  background: var(--main-bg-color-dark);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: 0px 0px 80px 1px #fff;
}
.loading-percentage {
  margin-top: 8px;
  color: #fff;
  font-size: 18px;
  transform: translateX(-10px);
}
/* =============================================================================================
* Main page
============================================================================================= */
#main-page {
  display: none;
  top: 50%;
  z-index: 1;
}
.side-bar {
  height: 100vh;
  width: 18vw;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  padding: 50px 0;
  overflow-y: scroll;
}
.side-bar > .logo > img {
  width: 100px;
  pointer-events: none;
}
.side-bar::-webkit-scrollbar {
  width: 4px;
  opacity: 0;
}
.side-bar-2::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
}

.side-bar:hover::-webkit-scrollbar-thumb,
.side-bar:active::-webkit-scrollbar-thumb,
.side-bar-2:hover::-webkit-scrollbar-thumb,
.side-bar-2:active::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.side-bar i,
.side-bar-2 i {
  transition: 0.2s ease;
}

.side-bar i:hover,
.side-bar-2 i:hover {
  transform: scale(1.15);
  color: var(--hover-color-dark);
}


.folio > p {
  transform: rotate(-90deg);
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  pointer-events: none;
}
.music-bars {
  height: 15px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  cursor: pointer;
  margin-top: 1em;
}
.stroke {
  display: block;
  background: var(--text-color-dark);
  height: 100%;
  width: 2px;
  border-radius: 50px;
  margin: 0 3px;
  animation: animate 1.2s linear infinite;
  animation-play-state: paused;
  pointer-events: auto;
}
.stroke.body.dark {
  background: var(--text-color-light);
}
@keyframes animate {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.3s;
}
.stroke:nth-child(5) {
  animation-delay: 0s;
}
.bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-media {
 /* margin-bottom: 30px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-media > a > i {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  pointer-events: auto;
}
.social-media > a > i:hover {
  color: var(--hover-color-dark);
}

/*#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
} fullbg video*/

#bg-video {
  padding: 1em;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: auto;
  cursor:pointer;
  border-radius: 25px;
}

.scrollable {
  z-index: 1;
  padding: 60px 20px;
  pointer-events: none;
  width: 72vw;
  height: 100%;
  margin-left: 18vw;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.my-text {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  padding: 3px 0;
}
.name {
  margin-top: 80px;
  letter-spacing: 7px;
  font-size: 70px;
  font-family: "stx";
}
.surname {
  letter-spacing: 7px;
  font-family: "stx";
  font-size: 70px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.01rem;
}
.creative {
  margin-top: 50px;
  letter-spacing: 3px;
  font-size: 30px;
  font-family: "stx";
}
.developer {
  letter-spacing: 3px;
  font-family: "stx";
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.01rem;
}
.and {
  margin-top: 50px;
  letter-spacing: 3px;
  font-size: 30px;
  font-family: "stx";
}
.designer {
  letter-spacing: 3px;
  font-size: 30px;
  font-family: "stx";
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.01rem;
}
.push-down {
  margin-bottom: 160px;
}
.side-bar-2 {
  height: 100vh;
  width: 10vw;
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  /* background: red; */
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 52px;
  height: 29px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}

.fa-moon {
  color: #fff;
}

.fa-sun {
  color: #fff;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.resume-box {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.37);
  box-sizing: border-box;
  transform: rotate(90deg);
  color: rgb(0, 0, 0);
  pointer-event: auto;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 1rem;
}

.resume-box > i {
  transform: rotate(-90deg);
}
.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}
.mail > a {
  transform: rotate(90deg);
}
.mail > a:hover {
  transition: all 0.3s ease-in-out;
  color: grey;
}
.verticalbar {
  height: 150px;
}

.projects {
  margin-top: 100px;
}
.marquee {
  position: relative;
  overflow: hidden;
  --offset: 23vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-family: "stx";
  transition: all 0.3s ease-in-out;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 15s linear infinite;
  animation-play-state: running;
}

.marquee span {
  font-size: 30px;
  padding: 0 2vw;
}

.marquee .hollow {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1rem;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.stripes {
  font-family: "Roboto Mono", monospace;
}

.project-item {
  margin-top: 20px;
  border-bottom: 1px solid #4e545a;
  font-size: 14px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-title {
  margin-left: 10px;
}
.more-info {
  display: flex;
}
.btn-1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: auto;
  cursor: pointer;
}
.btn-1 a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 10px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
}
.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}
span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}
.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after {
  transform: scaleX(0);
}

.btn-2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: auto;
  cursor: pointer;
}
.btn-2 a {
  text-decoration: none;
  border: 2px solid #b3b3b3;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
}
.btn-2 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #070707;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}
.btn-2 > a > span {
  color: #b3b3b3;
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}
.btn-2 a:hover::before {
  transform: scaleY(0);
}

.btn-2 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #070707;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-2 a:hover::after {
  transform: scaleX(0);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 20%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

.project-image-info {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.project-image {
  width: 400px;
  height: 258px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  pointer-events: auto;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.project-image:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.project-details-left {
  margin: 0 10px;
  border: 0.35rem solid;
  width: 100%;
  height: 269px;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}
.project-details-right {
  padding: 0px 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.project-details-left:nth-child(2) {
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
.visit-button > span {
  text-decoration: none;
  pointer-events: auto;
  pointer: cursor;
  border: 2px solid grey;
  padding: 4px 10px;
}
#detail-1 {
  display: none;
  padding-bottom: 10px;
}
#detail-2 {
  display: none;
  padding-bottom: 10px;
}
#detail-3 {
  display: none;
  padding-bottom: 10px;
}
#detail-4 {
  display: none;
  padding-bottom: 10px;
}
#detail-5 {
  display: none;
  padding-bottom: 10px;
}
.cross {
  pointer-events: auto;
  cursor: pointer;
}
.copyright {
  margin-top: 60px;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
/*
  * Responsive code
  */
@media (max-width: 985px) {
  #main-page {
    display: none;
    top: 50%;
    z-index: 1;
  }
  .side-bar {
    height: 100vh;
    width: 16vw;
    padding-bottom: 90px;
    padding-top: 20px;
  }
  .side-bar > .logo > img {
    width: 50px;
    pointer-events: none;
  }
  .folio > p {
    font-size: 12px;
    /*width: 200px; longer version*/
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    white-space: nowrap
  }
  .scrollable {
    z-index: 1;
    padding: 70px 5px;
    padding-right: 20px;
    width: 74vw;
    height: 100%;
    margin-left: 16vw;
    pointer-events: auto;
  }
  .my-text {
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    padding: 3px 0;
  }
  .name {
    margin-top: 80px;
    letter-spacing: 6px;
    font-size: 27px;
    font-family: "stx";
  }
  .surname {
    letter-spacing: 6px;
    font-family: "stx";
    font-size: 27px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1rem;
  }
  .creative {
    margin-top: 50px;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: "stx";
  }
  .developer {
    letter-spacing: 2px;
    font-family: "stx";
    font-size: 20px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.05rem;
  }
  .and {
    margin-top: 50px;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: "stx";
  }
  .designer {
    letter-spacing: 3px;
    font-size: 20px;
    font-family: "stx";
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.05rem;
  }
  .push-down {
    margin-bottom: 170px;
  }
  .side-bar-2 {
    height: 100vh;
    width: 7vw;
    padding: 3rem 0;
    pointer-events: all;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  .projects {
    margin-top: 140px;
  }
  .marquee {
    position: relative;
    overflow: hidden;
    --offset: 23vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    font-family: "stx";
    transition: all 0.3s ease-in-out;
  }

  .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 7s linear infinite;
    animation-play-state: running;
  }

  .marquee span {
    font-size: 20px;
    padding: 0 2vw;
  }

  .stripes {
    font-family: "Roboto Mono", monospace;
  }

  .project-item {
    margin-top: 20px;
    border-bottom: 1px solid #4e545a;
    font-size: 14px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .project-title {
    margin-left: 5px;
    font-size: 12px;
  }
  .more-info {
    display: flex;
  }
  .btn-1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: auto;
    cursor: pointer;
  }
  .btn-1 a {
    text-decoration: none;
    border: 1px solid #010100;
    padding: 10px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    background: #fff;
    font-size: 8px;
    width: 70px;
    height: 18px;
  }
  .btn-1 a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    height: calc(100% - 10px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }
  span {
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 3;
  }
  .btn-1 a:hover::before {
    transform: scaleY(0);
  }

  .btn-1 a::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -1px;
    width: calc(100% - 10px);
    height: calc(100% + 2px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
  }

  .btn-1 a:hover::after {
    transform: scaleX(0);
  }

  .btn-2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: auto;
    cursor: pointer;
    
  }
  .btn-2 a {
    text-decoration: none;
    border: 1px solid #b3b3b3;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-size: 8px;
    width: 70px;
    height: 18px;
  }
  .btn-2 a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    height: calc(100% - 10px);
    background-color: #070707;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }
  .btn-2 > a > span {
    color: #b3b3b3;
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 3;
  }
  .btn-2 a:hover::before {
    transform: scaleY(0);
  }

  .btn-2 a::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    background-color: #070707;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
  }

  .btn-2 a:hover::after {
    transform: scaleX(0);
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: true;
  }

  @property --gradX {
    syntax: "<percentage>";
    initial-value: 20%;
    inherits: true;
  }

  @property --gradY {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
  }

  .project-image-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 0px;
  }
  .project-image {
    width: 230px;
    height: 148px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    pointer-events: auto;
    transition: all 0.3s ease-in;
    cursor: pointer;
  }
  .project-image:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }
  .project-details-left {
    margin: 0 10px;
    border: 0.35rem solid;
    width: 92%;
    height: 159px;
    border-image: conic-gradient(
        from var(--angle),
        var(--c2),
        var(--c1) 0.1turn,
        var(--c1) 0.15turn,
        var(--c2) 0.25turn
      )
      30;
    animation: borderRotate var(--d) linear infinite forwards;
  }
  .project-details-right {
    padding: 0px 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .project-details-left:nth-child(2) {
    border-image: radial-gradient(
        ellipse at var(--gradX) var(--gradY),
        var(--c1),
        var(--c1) 10%,
        var(--c2) 40%
      )
      30;
    animation: borderRadial var(--d) linear infinite forwards;
  }

  .visit-button > span {
    text-decoration: none;
    pointer-events: auto;
    pointer: cursor;
    border: 2px solid grey;
    padding: 4px 10px;
  }
  #detail-1 {
    display: none;
    padding-bottom: 10px;
  }
  #detail-2 {
    display: none;
    padding-bottom: 10px;
  }
  #detail-3 {
    display: none;
    padding-bottom: 10px;
  }
  #detail-4 {
    display: none;
    padding-bottom: 10px;
  }
  #detail-5 {
    display: none;
    padding-bottom: 10px;
  }
  .cross {
    pointer-events: auto;
    cursor: pointer;
    align-self: center;
  }
  .copyright {
    margin-top: 60px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}
